{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copyright">
                        <a class="b-link" href="/">Dmitriy Sheptunov</a>&nbsp;<span id="copyright-year">{% now "Y" %}</span>
                        <a class="b-link b-email" href="mailto:sheptunovdima@gmail.com">sheptunovdima@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
{% endblock %}