<section id="skills" class="bg-primary block-skills">
    <div class="container">
        <div class="row">
            <div class="grid_4 wow fadeInLeft" data-wow-delay="0.6s" id="skills-backend">
                <div class="wrapper">
                    <div class="resp-center">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h5>Backend magic</h5>
                    <p>Python + Django frameworks ninja<br>
                        Async data mining(data parsing) using gevent, grab, or native coroutine in python3.<br>
                        Headless webkit data scrap(PhantomJS), able to get info processed with AJAX or another JS, for giants like facebook.<br>
                        Native Python applications.<br>
                        XML, XLS\XSLT.<br>
                        PHP5 + Bitrix, Wordpress, Joomla!, Host CMS.<br>
                        MySQL, SQLite3.<br>
                    </p>
                </div>
            </div>
            <div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s" id="skills-frontend">
                <div class="wrapper">
                    <div class="resp-center">
                        <i class="fa fa-connectdevelop"></i>
                    </div>
                    <h5>Frontend karate</h5>
                    <p>HTML5+CSS3 kung fu. LESS framework.<br>
                        <a href="https://en.bem.info/" title="BEM methodology">Yandex BEM</a> technology.
                        Responsive layout, CSS3 transitions, animations and even more.<br>
                        Javascript + jQuery framework.<br>
                        Modify or write your own jQuery plugin.<br>
                        Parallax scrolling, image sliders, client form-validation, modal windows, etc
                        Grunt. AJAX magic.
                    </p>
                </div>
            </div>
            <div class="grid_4 wow fadeInLeft" data-wow-delay="0.2s" id="skills-fullstack">
                <div class="wrapper">
                    <div class="resp-center">
                        <i class="fa fa-code"></i>
                    </div>
                    <h5>Badass fullstack</h5>

                    <p>Rapidly fast development. <br>
                        Black belt project management. Full cycle site production, from technical project trough design mockups to awesome web application, which do make money to clients.<br>
                        User interface design. <br>
                        GIT version control system.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>