<section class="well2 bg-secondary block-benefits" id="benefits">
    <div class="container">
        <div class="row">
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.8s">

                <div class="fa fl-continious fa-keyboard-o"></div>
                <h5>Clean code</h5>

                <div data-equal-group="1">
                    <div class="box_inner">
                        <p>Clean, valid, well commented code. Easy to refactor or extend.<br>
                            <abbr title="Don't Repeat Yourself">DRY</abbr> paradigm. <abbr title="Model-View-Controller">MVC</abbr> logic.<br>
                            No more html in your controller and no more logic in your views.</p>
                    </div>
                </div>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.6s">
                <div class="fa fa-rocket"></div>
                <h5>Modern tools</h5>

                <div data-equal-group="1">
                    <div class="box_inner">
                        <p>Only awesome technologies from future. Charm your visitors and get their money. <br>
                            No matter what device they have: phone, tablet, laptop or desktop. Mac or Windows. Safari or Webkit. Spain or USA. Day or night.<br>
                            Everybody love beatufil and comfortable websites.</p>
                    </div>
                </div>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.4s">
                <div class="fa fa-calendar-check-o"></div>
                <h5>Strong time limits</h5>

                <div data-equal-group="1">
                    <div class="box_inner">
                        <p>No more project milestones fuck up.
                            If it's 17 of July it's not 19 and not even 21, it's always right in time, no matter what.<br>
                            Trust is everething in that business.</p>
                    </div>
                </div>
            </div>
            <div class="grid_3 wow fadeInRight" data-wow-delay="0.2s">
                <div class="fa fa-bolt"></div>
                <h5>Rapid fast development</h5>

                <div data-equal-group="1">
                    <div class="box_inner">
                        <p>No more "let's burn it and build another application from scratch". <br>
                            I am using a lot of tools and frameworks. This really save my time and your money.<br>
                            But if you want I can make my own bicycle or invent my own wheel.<br>
                            Load-optimized code, compressed JS and CSS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>