<header class="b-header">
    <div class="stuck_container center {% if menu == 'index' %}hidden{% endif %}">
        <div class="container">
            <nav class="nav">
                <ul class="b-list sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                    {% include 'portfolio/block-topmenu.html' with active=menu %}
                </ul>
            </nav>
        </div>
    </div>
    <div id="topmenu" class="block_topmenu_sticky stuck_container center" style="top: 0; visibility: hidden; position: fixed; width: 100%; margin-top: 0;">
        <div class="container">
            <nav class="nav">
                <ul class="sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                    {% include 'portfolio/block-topmenu.html' with active=menu %}
                </ul>
            </nav>
        </div>
    </div>
</header>